/* You can add global styles to this file, and also import other style files */

.todo-app-header {
    text-align: center;
    padding: 20px;
    background-color: #EEEEEE;
}

.todo-item-div {
    padding: 5px 30px;
    
    input {
        cursor: pointer;
    }
    
    &:hover {
        background: #DDDDDD;
    }
}
